.sildeBarContainer{
    width: 27%;
}
.cardHeader{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 2px;
    color:#333;
}
.profileImageContainer{
    width: 100%;
    box-sizing: border-box;
}
.profileImageContainer img{
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}
.pesonalBio{
    font-size: 14px;
    color:#565673;
    font-weight: 300;
}
.recentpost{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.recentpost h3{
    font-weight: 500;
    color: #6c6c6c;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
}
.recentpost span{
    font-size: 10px;
    font-weight: 400;
    color: #6c6c6c;
}
.recentPosts{
    padding: 20px 0;
    
}
.scocalMediaIcon{
    width: 50%;
    overflow: hidden;
}
.scocalMediaIcon img{
    width: 25%;
    max-height: 20%;
    object-fit: fill;
  padding: 20px  5px ;
}