
.header ul li:hover{
    color: #5f9ea0;
}


.header{
    display: flex;
    justify-content: space-between;
    padding:10px 0;
}
.header ul{
    margin: 0;
    padding: 0;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{
   text-decoration: none;
   display: block;
   color: #565673;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 400;
   padding: 0 10px;
}

.socialMediaImage{
    width: 35%;
    overflow: hidden;
}
.socialMediaImage img{
    width: 5%;
    max-height: 10%;
   margin: 0 5px;
    

}